/*=============================================
  Header
=============================================*/

html,
body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto';
	background-color: #eee;
	position: relative;
	overflow: hidden;
}

header {
	height: 160px;
	background-color: #1C7FA6;
	background: url('../images/khan-academy-cosmos.jpg')no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

header h1#logo-type {
	position: absolute;
	top: 95px;
	left: 70px;
	font-weight: normal;
	font-size: 25px;
}

header h1#logo-type a {
	text-decoration: none;
	color: white;
}

/*=============================================
  Navigation
=============================================*/

aside {

}

aside ul#main-nav {
	
}

aside ul#main-nav li {
	list-style-type: none;
	margin: 25px 0px 25px 30px;
}

aside ul#main-nav li a {
	text-decoration: none;
	color: #5e5e5e;
}

aside ul#main-nav li a.active {
	color: #3e3e3e;
}

/*=============================================
  Main Card
=============================================*/

/* Pre-animation */
main {
	margin-right: 10%;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-top: 100000px !important;
}

/* Intro animation */
main.inPlace {
	margin-top: -70px !important;
	-webkit-transition: all 1.5s ease;
	   -moz-transition: all 1.5s ease;
	     -o-transition: all 1.5s ease;
	        transition: all 1.5s ease;
}

/* Exit animation*/
main .outOfPlace {
	margin-top: -200px !important;
	-webkit-transition: all 1.5s ease;
	   -moz-transition: all 1.5s ease;
	     -o-transition: all 1.5s ease;
	        transition: all 1.5s ease;
}

main h1 {
	-webkit-margin-before: 5px;
	font-size: 34;
	font-weight: normal;
	color: #1C7FA6;
}

main h2 {
	color: #1C7FA6;
	text-align: center;
	font-weight: normal;
}

main p {
	text-align: center;
}

/*=============================================
  FAB - Floating Action Button
=============================================*/

#fab {
	width: 60px;
	height: 60px;
	background: #56d893;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-top: -30px !important;
	margin-left: 40px !important;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#fab:hover {
	background-color: #2CC975;
}

#fab p {
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding-top: 0px;
}

/*=============================================
  Folio
=============================================*/

/*figure {
	background-image: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237, 154, 86)), color-stop(1, rgb(52, 235, 180)) );
	background-image: -o-linear-gradient(left top, rgb(237, 154, 86) 0%, rgb(52, 235, 180) 100%);
	background-image: -moz-linear-gradient(left top, rgb(237, 154, 86) 0%, rgb(52, 235, 180) 100%);
	background-image: -webkit-linear-gradient(left top, rgb(237, 154, 86) 0%, rgb(52, 235, 180) 100%);
	background-image: -ms-linear-gradient(left top, rgb(237, 154, 86) 0%, rgb(52, 235, 180) 100%);
	background-image: linear-gradient(to left top, rgb(237, 154, 86) 0%, rgb(52, 235, 180) 100%);
	-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
	        box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
	overflow: hidden;
}*/

figure img {
	width: 100%;
	/*opacity: 0.5;*/
}

/*figcaption {
	margin-top: -113px;
	opacity: 1.0;
	z-index: 1000;
	position: absolute;
	width: 31.5%;
	background-color: rgba(255, 255, 255, 0.50);
}*/