<h1>Making Internet.</h1>

<div class="row">
	<div class="col-3-12">
		<h2 class="center-text">Design</h2>
		<p class="center-text">Designing for the Web starts in the real world, then evolves into digital.</p>
	</div> <!-- end .col-3-12 -->

	<div class="col-3-12">
		<h2 class="center-text">Document</h2>
		<p class="center-text">Modular development is key to scalability &amp; maintainability.</p>
	</div> <!-- end .col-3-12 -->

	<div class="col-3-12">
		<h2 class="center-text">Develop</h2>
		<p class="center-text">Code typically involves a learning curve, unless docs are maintained.</p>
	</div> <!-- end .col-3-12 -->

	<div class="col-3-12">
		<h2 class="center-text">Deploy</h2>
		<p class="center-text">Launching an app is a practice that involves many phases.</p>
	</div> <!-- end .col-3-12 -->
</div> <!-- end .row -->

<div class="row">
	<div class="col-4-12">
		<h3 class="center-text">Contribute</h3>
		<p class="center-text">Participating in the larger development community is highly rewarding.</p>
	</div> <!-- end .col-4-12 -->

	<div class="col-4-12">
		<h3 class="center-text">Keep Learning</h3>
		<p class="center-text">The Web is ever-evolving &amp; therefore so must your education.</p>
	</div> <!-- end .col-4-12 -->

	<div class="col-4-12">
		<h3 class="center-text">Stay Relevant</h3>
		<p class="center-text">Engagement is what turns driven individuals into poweful communities.</p>
	</div> <!-- end .col-4-12 -->
</div> <!-- end .row -->