<h1>Journal</h1>

<div class="card-deck">

	<div class="card"
		 ng-repeat="(id, post) in posts | orderBy:post.dateTime:reverse"
		 ng-animate="'animate'">

		<div class="front">

			<h2 ng-if"{{ post.status }}=publish">
				{{ post.title }}
			</h2>

			<small ng-if"{{ post.status }}=publish">
				{{ post.dateTime | date:'MM/dd/yyyy @ h:mma' }}
			</small>

			<div ng-bind-html="post.content | html" ng-if"{{ post.status }}=publish">
			</div>

		</div> <!-- end .front -->



		<div class="back">

			<div class="row">
				<div class="col-12-12">
					<h2>Edit</h2>
				</div> <!-- end .col-12-12 -->			
			</div> <!-- end .row -->			

			<div class="row">
				<div class="col-10-12">
					<input type="text" ng-model="post.title"/>

					<ui-codemirror ng-model="post.content" ui-codemirror-opts="editorConfig"></ui-codemirror>
				</div> <!-- end .col-10-12 -->

				<div class="col-2-12">
					<div class="row">
						<div class="col-12-12">
							<select ng-model="post.status">
								<option value="" disabled selected>Status</option>
								<option value="draft">Draft</option>
								<option value="publish">Publish</option>
							</select>
						</div> <!-- end .col-4-12 -->
					</div> <!-- end .row -->

					<br><br>

					<div class="row">
						<div class="col-12-12">
							<button ng-click="clearPost()" class="fire">Clear</button>
						</div> <!-- end .col-4-12 -->
					</div> <!-- end .row -->

					<div class="row">
						<div class="col-12-12">
							<button type="submit" ng-click="doneEditing(id)" class="ice">Update</button>
						</div> <!-- end .col-4-12 -->
					</div> <!-- end .row -->

					<div class="row">
						<div class="col-12-12">
							<button type="submit" ng-click="savePost()" class="veg">Save</button>
						</div> <!-- end .col-4-12 -->
					</div> <!-- end .row -->
				</div> <!-- end .col-2-12 -->
			</div> <!-- end .row -->

			<div class="row">
				<div class="col-12-12">
					<p class="feedback center-text"><small>{{ feedback }}</small></p>
				</div> <!-- end .col-12-12 -->
			</div> <!-- end .row -->

		</div> <!-- end .back -->

	</div> <!-- end .card -->

</div> <!-- end .card-deck -->