<div class="flip-card">
	<div class="flip-card-front">
		<h1>Journal</h1>

		<div class="postcard" ng-repeat="post in posts | orderBy:post.dateTime:reverse" ng-animate="'animate'">
			<h2 ng-if"{{ post.status }}=publish">
				{{ post.title }}
			</h2>

			<span ng-click="editPost()">edit</span>

			<small ng-if"{{ post.status }}=publish">
				{{ post.dateTime | date:'MM/dd/yyyy @ h:mma' }}
			</small>

			<div ng-bind-html="post.content | html" ng-if"{{ post.status }}=publish">
			</div>
		</div> <!-- end .postcard -->
	</div> <!-- end .flip-card-front -->

	<div class="flip-card-back postcard">
		<div class="row">
			<div class="col-12-12">
				<h2>Edit {{ post.title }}</h2>
			</div> <!-- end .col-12-12 -->			
		</div> <!-- end .row -->			

		<div class="row">
			<div class="col-10-12">
				<input type="text" ng-model="newPost.title" placeholder="Title"/>

				<ui-codemirror ng-model="newPost.content" ui-codemirror-opts="editorConfig">Content in HTML</ui-codemirror>
			</div> <!-- end .col-10-12 -->

			<div class="col-2-12">
				<select ng-model="newPost.status">
					<option value="" disabled selected>Status</option>
					<option value="draft">Draft</option>
					<option value="publish">Publish</option>
				</select>

				<div class="row">
					<div class="col-6-12">
						<button ng-click="clearPost()" class="fire">Clear</button>
					</div> <!-- end .col-6-12 -->
					<div class="col-6-12">
						<button type="submit" ng-click="addPost()" class="ice">Save</button>
					</div> <!-- end .col-6-12 -->
				</div> <!-- end .row -->
			</div> <!-- end .col-2-12 -->
		</div> <!-- end .row -->
	</div> <!-- end .flip-card-back -->
</div> <!-- end .flip-card -->
